<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Products</h1>
    <%= link_to "New product", new_admin_product_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  <div class="flex flex-col mt-5">
    <table class="min-w-full table-auto text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="py-3 px-6"></th>
          <th scope="col" class="py-3 px-6">Name</th>
          <th scope="col" class="py-3 px-6">Price</th>
          <th scope="col" class="py-3 px-6">Category</th>
          <th scope="col" class="py-3 px-6">Edit</th>
          <th scope="col" class="py-3 px-6">Delete</th>
        </tr>
      </thead>
      <tbody class="border-b">
        <% @admin_products.each do |p| %>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 underline">
              <%= p.images.any? ? image_tag(p.images.first.variant(:thumb)) : image_tag("https://via.placeholder.com/50") %>
            </td>
            <td class="py-4 px-6"><%= p.name %></td>
            <td class="py-4 px-6"><%= number_to_currency(p.price, precision: 0) %></td>
            <td class="py-4 px-6"><%= p.category.name %></td>
            <td class="py-4 px-6"><%= link_to "Edit", edit_admin_product_path(p), class: "rounded-lg py-1 px-3 bg-blue-600 text-white font-medium" %></td>
            <td class="py-4 px-6"><%= link_to "Delete", admin_product_path(p), method: :delete, data: { confirm: "Are you sure?" }, class: "rounded-lg py-1 px-3 bg-red-600 text-white font-medium" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
